<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibraryUtilidades.Properties.Settings.Conexion"
            connectionString="Data Source=LAPTOP-SS94S20F;Initial Catalog=Proyecto_SW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>